@import "tailwindcss";

@layer base {
  :root {
    @apply font-sans leading-normal font-normal text-white bg-[#242424] text-center antialiased;
  }

  #root {
    @apply max-w-[1280px] mx-auto p-8;
  }
}