body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}


/*Modal*/
dialog {
  border: black;
  border-style: solid;
  border-radius: 8px 8px 8px 8px;
  background: linear-gradient(#275551, #455b66);

}


.highlight{
  background: linear-gradient(#236c66, #235d7b);
  font-weight: bold;

}

.dialogButton{
    background: linear-gradient(#116b24, #199a51);
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    padding: 0.5rem;
    font-weight: bold;

}

.dialogCloseButton{
    background: linear-gradient(#b51b1b, #9a2c19);
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    padding: 0.66rem;
    font-weight: bold;

}

